.link-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    border: 3px solid white;
    justify-content: start;
    margin: 1%;
    direction: rtl;
    border-radius: 10px;
    width: 100vw;
    box-sizing: border-box;
}

.link-title, h4 {
    margin: 10px 30px;
}

.link-container-top-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}

.link-container-bottom-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}