.text-area {
    background-color: black;
    border-radius: 10px;
    text-indent: 20px;
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
    direction: rtl;
    border: 3px solid white;
    margin: 20px;
    columns: 50;
}

textarea {
    display: flex;
    padding:0 20px;
}