.search {
    width: 500px;
    background-color: black;
    border-radius: 10px;
    height: 50px;
    text-indent: 20px;
    font-weight: 600;
    font-size: 25px;
    padding: 5px;
    direction: rtl;
    border: 3px solid white;
    margin: 20px;
}

.Dropdown-control, .Dropdown-menu, .Dropdown-option {
    background-color: black;
    color: white;
    border:none;
}