.type-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    place-items: center;
    border: 3px solid white;
    justify-content: start;
    margin: 1%;
    direction: rtl;
    border-radius: 10px;
    width: 100vw;
    box-sizing: border-box;

}

.name-title, h4 ,button{
    margin: 10px 30px;
}

.jsc {
    justify-self: center;
}